#nav-link {
  all: unset;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#navlink-parent {
  position: relative;
}
#tutorial-list {
  background-color: black;
  color: white;
  position: absolute;
  width: 200px;
  padding: 0px;
  top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#tutorial-list li {
  list-style-type: none;
  padding: 20px;
}
#tutorial-list li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
