#reviews {
  background-color: rgba(212, 212, 212, 0.235);
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  padding: 50px 0px ;
}
#reviews-intro {
  /* border: 1px red solid; */
  width: 28%;
}
#reviews-intro h1 {
  font-size: 4.5rem;
  font-weight: 500;
  margin: 0;
}