#navbar-container {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  position: sticky;
  top: 0;
}
#navbar-container h1 {
  margin: 0;
}
#navlinks {
  /* border: 1px white solid; */
  /* width: 50%; */
  display: flex;
  justify-content: center;
  gap: 50px;
}
