#projects-idea {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#projects-idea h2,#projects-idea p {
  margin: 0;

}
#project-idea-details {
padding: 15px;
display: flex;
flex-direction: column;
gap: 10px;
}